.blog-post-content {
    grid-template-columns: 70% auto;
    grid-gap: 50px;
    display: grid;
}

.blog-post-content header {
    margin-bottom: 40px;
}

.blog-post-content header .headline {
    line-height: 0;
}

.blog-post-content header span {
    color: #a900ff;
}

.label-board {
    background: #ddd;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    text-align: center;
}

.label-board .headline {
    line-height: 0;
}

.ref-links a {
    display: flex;
    margin: 10px 0;
    color: blue;
}

.blog-post-content {
    grid-template-columns: 70% auto;
    grid-gap: 50px;
    display: grid;
}

.label-board--author-info {
    display: flex;
    flex-direction: column;
}

.label-board--author-info img{
    margin: 10px auto;
    border: 1px solid blue;
    padding: 5px;
    border-radius: 5px;
}

.label-board--author-info .label-board--author-info--details {
    display: inherit;
    flex-direction: inherit;
}

.label-board--author-info .label-board--author-info--details  span {
    flex: 1;
}

@media only screen and (max-width: 924px) {
    .blog-post-content {
        grid-template-columns: auto;
    }    
}